:root {
    color-scheme: light dark;
    color: rgba(245, 245, 245, 0.85);
    background-color: #1b1b1b;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin: 25px 50px 0 50px;
    height: 100vh;
}

.gallows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.riddle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%
}

.word {
    display: flex;
    justify-content: space-between;
}

.underscore {
    color: lightgreen;
    margin: 10px;
    font-size: 2.5em;
    font-weight: 100;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin: 15px;
    width: 43%;

}

.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    z-index: 1;
}

.modal.hidden {
    display: none;
}

.play-again-button {
    width: auto;
    padding: 8px;
}

span {
    color: red;
}

p {
    font-size: 1.1em;
}

h2 {
    text-align: center;
}

img {
    width: 60%;
    height: auto;
}

button {
    font-size: 1.5em;
    color: pink;
    margin: 5px;
    width: 30px;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: whitesmoke;
        color: rgb(27, 27, 27, 0.85);
    }
}